{% extends 'base.html' %}

{% block content%}
<main>
    <section class="profile">
        <div class="profile-img">
            <img src="img/profile-pic.jpg" alt="">
        </div>
        <div class="profile-info">
            <h2>Hola mi nombre es Román Guzmán!</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Quod iusto ab cum omnis eveniet quasi 
                minus laboriosam ipsum hic dolore odit dolorum, accusantium ea, 
                voluptatem non voluptates nostrum aliquam fuga!

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Quod iusto ab cum omnis eveniet quasi 
                minus laboriosam ipsum hic dolore odit dolorum, accusantium ea, 
                voluptatem non voluptates nostrum aliquam fuga!
            </p>
        </div>
    </section>
    
    <section class="project-container">
        <h3>Proyectos</h3>
        <div class="project">
            <h4>Título del Proyecto</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ipsa veniam architecto, quas maxime temporibus nisi debitis 
                ad fugit! Vel, soluta ad. Illo nihil voluptas qui quo 
                at minus sequi. Soluta.
            </p>
        </div>

        <div class="project">
            <h4>Título del Proyecto</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ipsa veniam architecto, quas maxime temporibus nisi debitis 
                ad fugit! Vel, soluta ad. Illo nihil voluptas qui quo 
                at minus sequi. Soluta.
            </p>
        </div>

        <div class="project">
            <h4>Título del Proyecto</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ipsa veniam architecto, quas maxime temporibus nisi debitis 
                ad fugit! Vel, soluta ad. Illo nihil voluptas qui quo 
                at minus sequi. Soluta.
            </p>
        </div>
    </section>
</main>
{% endblock %}
